@use 'sass:color';

// Container
$base-color-1: red;
$base-color-2: rgb(48, 42, 226);


// Body
.item-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    border: 0.7px solid rgb(151, 148, 148);
    box-sizing: content-box;
    padding: 20px;
}

.principal-font {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.secundary-font {
    @extend .principal-font;
    font-family: cursive
}

.box-shadow {
    @extend .item-1;
    background-color: white;
}

@mixin darken($base-color) {
    background-color: color.scale($base-color, $lightness: -44%);
}

@mixin lightness($base-color) {
    background-color: color.scale($base-color, $lightness: 66%);
}