@use 'base' as *;

@mixin design() {
    .item-1 {
        @extend .item-1;
        border-radius: 5px;
        background-color: $base-color-2;
    }

    .item-2 {
        @extend .item-1;
        @include darken($base-color-2);
    }

    .item-3 {
        @extend .item-1;
        @include lightness($base-color-2);
    }

    .box-shadow {
        box-shadow: 10px 12px 8px rgb(112, 110, 110);
    }
}