$num_row: 3;
$num_column: 9;

// Body
$body-color: #393836;
$body-font-color: antiquewhite;

// Container
$base-color-1: red;
$font-color-1: #33fcff;
$base-color-2: blue;
$font-color-2: #e8af1f;
$base-color-3: green;
$font-color-3: #a99b77;
$porc_darken: 60%;
$porc_lightness: 20%;